body {
  height: 1800px;  
   /*background-image: url("../images/Black.png");*/
   /*background-size: 100%;
  background-repeat: no-repeat;
  background: transparent;
  position: absolute;*/
  background-color: #ADD8E6;
}


 p {
  padding-top: 28px;
  color: black;
  font-family: 'Goudy Old Style', sans-serif;
  font-size: 24px;
}

a {
   color: black;
  font-family: 'Goudy Old Style', sans-serif;
  font-style: italic; 
  font-weight: bold;
  font-size: 28px;
}

span {
  font-weight: bold;
}

.container-fluid {
 border: 1px solid red;
  
 /* top: 0;
  left: 0;*/
  width: 100%;
  height: 100%; 
}

.bg-image {
  height: 400px;
  background-image: url("../Pictures/IMG_1494.JPG");
  background-position: center center;
  background-size: cover;
  
}

#name {
  color: orange;
  display: none;
}

#name p {
  font-size: 56px;
  margin-left: -20px;
  font-family: "Arial Black", cursive, sans-serif;
}

#name p span{
  color: red;
}

#about {
  width: 100%;
  height: 850px;

}

#perf {
  width: 100%;
  height: 600px;
}

.parallax-window-1 {
  /*margin-top: 60px;*/
    min-height: 450px;
    background: transparent;
    position: relative;
    top: 0px;
    margin-top: 300px;
    /*z-index: 0;*/
}

#media {
  width: 100%;
  height: 500px;
}



#cont {
  width: 100%;
  height: 300px;
  background-image: url()
  
}

.col-xs-12 {
  height: 130px;
}


.articles:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}













